GITHUB_TOKEN=replace_with_github_pat
GITHUB_ORG=your-github-org
GITHUB_REPO=developer-portal

GHCR_USERNAME=your-github-username
GHCR_TOKEN=replace_with_ghcr_token
GHCR_OWNER=your-github-org

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=backstage
POSTGRES_USER=backstage
POSTGRES_PASSWORD=backstage-dev-password

BACKSTAGE_BASE_URL=http://portal.local
BACKEND_BASE_URL=http://portal.local/api

K8S_CLUSTER_NAME=minikube
K8S_CLUSTER_URL=https://kubernetes.default.svc
